.panel.panel-primary
  .panel.panel-heading
    %h3.panel-title
      Keychain: #{@keychain.name}
  
  .panel-body
    %p.col-md-1-col-md-offset-11
      = link_to 'Edit', edit_keychain_path(@keychain) 
    %p
      username: #{@keychain.username}
    %p
      password: #{@keychain.password}
    %p
      #{@keychain.description}


